[submodule "thirdparty/sdl"]
	path = thirdparty/sdl
	url = https://github.com/libsdl-org/SDL.git
[submodule "thirdparty/enet"]
	path = thirdparty/enet
	url = https://github.com/lsalzman/enet.git
[submodule "thirdparty/imgui"]
	path = thirdparty/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/assimp"]
	path = thirdparty/assimp
	url = https://github.com/assimp/assimp.git
[submodule "thirdparty/libsndfile"]
	path = thirdparty/libsndfile
	url = https://github.com/libsndfile/libsndfile.git
[submodule "thirdparty/bgfx-cmake"]
	path = thirdparty/bgfx-cmake
	url = https://github.com/bkaradzic/bgfx.cmake.git
[submodule "thirdparty/fp16"]
	path = thirdparty/fp16
	url = https://github.com/Maratyszcza/FP16.git
[submodule "thirdparty/recastnavigation"]
	path = thirdparty/recastnavigation
	url = https://github.com/recastnavigation/recastnavigation.git
[submodule "thirdparty/openal-soft"]
	path = thirdparty/openal-soft
	url = https://github.com/kcat/openal-soft.git
[submodule "thirdparty/meshoptimizer"]
	path = thirdparty/meshoptimizer
	url = https://github.com/zeux/meshoptimizer.git
[submodule "thirdparty/tinymixer"]
	path = thirdparty/tinymixer
	url = https://github.com/mendsley/tinymixer.git
[submodule "thirdparty/xatlas"]
	path = thirdparty/xatlas
	url = https://github.com/jpcy/xatlas.git
[submodule "thirdparty/glm"]
	path = thirdparty/glm
	url = https://github.com/g-truc/glm.git
[submodule "thirdparty/imgui-docked"]
	path = thirdparty/imgui-docked
	url = https://github.com/ocornut/imgui.git
[submodule "thirdparty/imgui-node-editor"]
	path = thirdparty/imgui-node-editor
	url = https://github.com/thedmd/imgui-node-editor.git
[submodule "thirdparty/imgizmo"]
	path = thirdparty/imgizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "thirdparty/entt"]
	path = thirdparty/entt
	url = https://github.com/skypjack/entt.git
